@import "tailwindcss";

@theme {
  /* colors */
  --color-red: #c14444;
  --color-white: #ffffff;
  --color-cream: #fdfaf8;
  --color-light-red: #f6d9d9;
  --color-black: #403f3f;
  --color-gray: #928e8e;
  --color-light-gray: #cecbcb;
  --color-highlight: yellow;
  /* content styles */
  --spacing-content-md: calc(100vw - 250px);
}

@theme inline {
  --color-background: var(--color-cream);
}
