@import "tailwindcss";

@theme {
  /* colors */
  --color-red: #c14444;
  --color-white: #ffffff;
  --color-cream: #fdfaf8;
  --color-light-red: #f6d9d9;
  --color-black: #403f3f;
  --color-gray: #928e8e;
  --color-light-gray: #cecbcb;
  --color-highlight: yellow;
  /* menu styles */
  --spacing-menu-max-w: 250px;
  --spacing-menu-min-w: 220px;
  --spacing-menu-h: 90vh;
  --spacing-menu-margin: 20px;
  --radius-menu-r: 25px;
  /* block styles */
  --spacing-block-w-md: 600px;
  --spacing-block-w: 60%;
}

@theme inline {
  --color-background: var(--color-cream);
  --spacing-content-md: calc(100vw - var(--spacing-menu-max-w));
}
